/* Light Holder Properties*/

.lightHolder {
    background-color: black;
    height: 6rem;
    width: 2rem;
    margin: auto;
    justify-content: center;
    text-align: center;

}

/* Trafic Ligths Container Properties */

.trafficLightConatiner {
    background-color: black;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 12rem;
    border-radius: 1rem;
    padding: 2rem;
}


/* Light Properties */

.redLight {
    color: #a52019;
    font-size: 6rem;
}

.yellowLight {
    color: #e5be01;
    font-size: 6rem;
    margin: 1rem;
}


.greenLight {
    color: #317f43;
    font-size: 6rem;
}

.purpleLight {
    color: #bb01e5;
    font-size: 6rem;
    margin-top: 1rem;
}

/* Selected Light Properties */

.selected {
    box-shadow: #f8ffcc 0px 0px 50px 20px;
    border-radius: 55%;
}

/* Buttons Properties */

.buttonsContainer {
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

.startButton {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: #00ABA9 2px solid;
    color: #00ABA9;
    background-color: white;
}

.stopButton {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid #C85454;
    color: #C85454;
    background-color: white;

}

.addColorButton {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid #FFC900;
    color: #FFC900;
    background-color: white;

}

.startButton:hover {
    background-color: #00ABA9;
    color: white;
}

.stopButton:hover {
    background-color: #C85454;
    color: white;
}

.addColorButton:hover {
    background-color: #FFC900;
    color: white;
}